<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <!-- 기술 명칭-->
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <!-- 드라이브 로드-->
                <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="호스트" />
                <property name="username" value="아이디" />
                <property name="password" value="비밀번호" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
            <!-- 매퍼의 경로 설정, 테이블당 하나씩 만듦 -->
        <mapper resource="test/jdbc/mapper/mapper.xml"/>
        <mapper resource="test/jdbc/mapper/dynamicSqlMapper.xml"/>
    </mappers>
</configuration>


